In [1]:
import pandas as pd

In [2]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df = pd.read_csv("data.csv", encoding = "ISO-8859-1", low_memory=False)
print(df.head())

  stn_code       sampling_date           state   location agency  \
0      150  February - M021990  Andhra Pradesh  Hyderabad    NaN
1      151  February - M021990  Andhra Pradesh  Hyderabad    NaN
2      152  February - M021990  Andhra Pradesh  Hyderabad    NaN
3      150     March - M031990  Andhra Pradesh  Hyderabad    NaN
4      151     March - M031990  Andhra Pradesh  Hyderabad    NaN

                                 type  so2   no2  rspm  spm  \
0  Residential, Rural and other Areas  4.8  17.4   NaN  NaN
1                     Industrial Area  3.1   7.0   NaN  NaN
2  Residential, Rural and other Areas  6.2  28.5   NaN  NaN
3  Residential, Rural and other Areas  6.3  14.7   NaN  NaN
4                     Industrial Area  4.7   7.5   NaN  NaN

  location_monitoring_station  pm2_5        date
0                         NaN    NaN  1990-02-01
1                         NaN    NaN  1990-02-01
2                         NaN    NaN  1990-02-01
3                         NaN    NaN  1990-03-01
4                         NaN    NaN  1990-03-01

In [4]:
df.stn_code.unique()
df.state.unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chandigarh', 'Chhattisgarh', 'Dadra & Nagar Haveli',
       'Daman & Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
       'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Uttar Pradesh',
       'Uttarakhand', 'Uttaranchal', 'West Bengal',
       'andaman-and-nicobar-islands', 'Lakshadweep', 'Tripura'],
      dtype=object)

In [5]:
df.state.unique().size

37

In [6]:
mean_so2_andhra = df.loc[df['state']=='Andhra Pradesh', 'so2'].mean()
print(mean_so2_andhra)

7.28484482691484

In [6]:
mean_so2_arunachal = df.loc[df['state']=='Arunachal Pradesh', 'so2'].mean()
print(mean_so2_arunachal)

3.1791044776119404

In [7]:
mean_so2_assam = df.loc[df['state']=='Assam', 'so2'].mean()
print(mean_so2_assam)

6.723262949865003

In [8]:
mean_so2_bihar = df.loc[df['state']=='Bihar', 'so2'].mean()
print(mean_so2_bihar)

19.381476257639868

In [9]:
mean_so2_chandigarh = df.loc[df['state']=='Chandigarh', 'so2'].mean()
print(mean_so2_chandigarh)

2.6769857433808557

In [10]:
mean_so2_chattisgarh = df.loc[df['state']=='Chattisgarh', 'so2'].mean()
print(mean_so2_chattisgarh)

nan

In [11]:
so2_chattisgarh = df.loc[df['state']=="Chattisgarh", 'so2']
print(so2_chattisgarh) #this shows chattisgarh has no entry on any columns

Series([], Name: so2, dtype: float64)

In [12]:
mean_so2_dadra = df.loc[df['state']=='Dadra & Nagar Haveli', 'so2'].mean()
print(mean_so2_dadra)

8.939586645469006

In [13]:
mean_so2_daman = df.loc[df['state']=='Daman & Diu', 'so2'].mean()
print(mean_so2_daman)

8.192957746478882

In [14]:
mean_so2_delhi = df.loc[df['state']=='Delhi', 'so2'].mean()
print(mean_so2_delhi)

8.737272727272714

In [15]:
mean_so2_goa = df.loc[df['state']=='Goa', 'so2'].mean()
print(mean_so2_goa)

6.827912857420736

In [16]:
mean_so2_gujarat = df.loc[df['state']=='Gujarat', 'so2'].mean()
print(mean_so2_gujarat)

16.65634266251567

In [17]:
mean_so2_haryana = df.loc[df['state']=='Haryana', 'so2'].mean()
print(mean_so2_haryana)

14.064956992672819

In [18]:
mean_so2_himachal = df.loc[df['state']=='Himachal Pradesh', 'so2'].mean()
print(mean_so2_himachal)

2.6670130577152342

In [19]:
mean_so2_jk = df.loc[df['state']=='Jammu & Kashmir', 'so2'].mean()
print(mean_so2_jk)

7.180520504731861

In [20]:
mean_so2_jharkhand = df.loc[df['state']=='Jharkhand', 'so2'].mean()
print(mean_so2_jharkhand)

23.48579350426838

In [21]:
mean_so2_karnataka = df.loc[df['state']=='Karnataka', 'so2'].mean()
print(mean_so2_karnataka)

10.223098790655666

In [22]:
mean_so2_kerala = df.loc[df['state']=='Kerala', 'so2'].mean()
print(mean_so2_kerala)

5.3223500342355585

In [23]:
mean_so2_madhya = df.loc[df['state']=='Madhya Pradesh', 'so2'].mean()
print(mean_so2_madhya)

11.587409816093217

In [24]:
mean_so2_maha = df.loc[df['state']=='Maharashtra', 'so2'].mean()
print(mean_so2_maha)

17.366863004812807

In [25]:
mean_so2_manipur = df.loc[df['state']=='Manipur', 'so2'].mean()
print(mean_so2_manipur)

3.9000000000000004

In [26]:
mean_so2_megh = df.loc[df['state']=='Meghalaya', 'so2'].mean()
print(mean_so2_megh)

8.955907867160935

In [27]:
mean_so2_mizo = df.loc[df['state']=='Mizoram', 'so2'].mean()
print(mean_so2_mizo)

2.0850091848447763

In [28]:
mean_so2_nagaland = df.loc[df['state']=='Nagaland', 'so2'].mean()
print(mean_so2_nagaland)

2.0597361809045225

In [29]:
mean_so2_odisha = df.loc[df['state']=='Odisha', 'so2'].mean()
print(mean_so2_odisha)

5.275873978680558

In [30]:
mean_so2_puducherry = df.loc[df['state']=='Puducherry', 'so2'].mean()
print(mean_so2_puducherry)

11.970638742000576

In [31]:
mean_so2_punjab = df.loc[df['state']=='Punjab', 'so2'].mean()
print(mean_so2_punjab)

10.628598138438416

In [32]:
mean_so2_rajasthan = df.loc[df['state']=='Rajasthan', 'so2'].mean()
print(mean_so2_rajasthan)

7.665725055635958

In [33]:
mean_so2_sikkim = df.loc[df['state']=='Sikkim', 'so2'].mean()
print(mean_so2_sikkim)

19.8

In [34]:
mean_so2_tamil = df.loc[df['state']=='Tamil Nadu', 'so2'].mean()
print(mean_so2_tamil)

11.315134172278633

In [35]:
mean_so2_telengana = df.loc[df['state']=='Telengana', 'so2'].mean()
print(mean_so2_telengana)

nan

In [36]:
mean_so2_uttar = df.loc[df['state']=='Uttar Pradesh', 'so2'].mean()
print(mean_so2_uttar)

12.52849986762399

In [37]:
mean_so2_uttarakhand = df.loc[df['state']=='Uttarakhand', 'so2'].mean()
print(mean_so2_uttarakhand)

24.372957181088314

In [38]:
mean_so2_uttaranchal = df.loc[df['state']=='Uttaranchal', 'so2'].mean()
print(mean_so2_uttaranchal)

24.69773584905661

In [39]:
mean_so2_wbengal = df.loc[df['state']=='West Bengal', 'so2'].mean()
print(mean_so2_wbengal)

12.608765600075088

In [40]:
mean_so2_andaman = df.loc[df['state']=='andaman-and-nicobar-islands', 'so2'].mean()
print(mean_so2_andaman)

nan

In [41]:
mean_so2_lakshadweep = df.loc[df['state']=='Lakshadweep', 'so2'].mean()
print(mean_so2_lakshadweep)

nan

In [42]:
mean_so2_tripura = df.loc[df['state']=='Tripura', 'so2'].mean()
print(mean_so2_tripura)

nan

In [4]:
stateVsSo2 = pd.DataFrame({'State' : pd.Series(dtype = 'str'), 'Mean SO2' : pd.Series(dtype = 'float')})
for i in df.state.unique():
        so2 = df.loc[df['state']== i , 'so2'].mean()        
        stateVsSo2.loc[len(stateVsSo2)] = [i, so2] 
display(stateVsSo2)

                          State   Mean SO2
0                Andhra Pradesh   7.284845
1             Arunachal Pradesh   3.179104
2                         Assam   6.723263
3                         Bihar  19.381476
4                    Chandigarh   2.676986
5                  Chhattisgarh  12.846609
6          Dadra & Nagar Haveli   8.939587
7                   Daman & Diu   8.192958
8                         Delhi   8.737273
9                           Goa   6.827913
10                      Gujarat  16.656343
11                      Haryana  14.064957
12             Himachal Pradesh   2.667013
13              Jammu & Kashmir   7.180521
14                    Jharkhand  23.485794
15                    Karnataka  10.223099
16                       Kerala   5.322350
17               Madhya Pradesh  11.587410
18                  Maharashtra  17.366863
19                      Manipur   3.900000
20                    Meghalaya   8.955908
21                      Mizoram   2.085009
22                     Nagaland   2.059736
23                       Odisha   5.275874
24                   Puducherry  11.970639
25                       Punjab  10.628598
26                    Rajasthan   7.665725
27                       Sikkim  19.800000
28                   Tamil Nadu  11.315134
29                    Telangana   5.418609
30                Uttar Pradesh  12.528500
31                  Uttarakhand  24.372957
32                  Uttaranchal  24.697736
33                  West Bengal  12.608766
34  andaman-and-nicobar-islands        NaN
35                  Lakshadweep        NaN
36                      Tripura        NaN

In [5]:
writer = pd.ExcelWriter('stateVsSo2.xlsx') #create excel writer object. stateVsSo2 is the name of the excel sheet I'm giving
stateVsSo2.to_excel(writer) #write dataframe to excel, the stateVsSo2 used here is the name of the table in python
writer.save() #save the excel

In [44]:
mean_no2_andhra = df.loc[df['state']=='Andhra Pradesh', 'no2'].mean()
print(mean_no2_andhra)

21.704450555835237

In [45]:
mean_no2_arunachal = df.loc[df['state']=='Arunachal Pradesh', 'no2'].mean()
print(mean_no2_arunachal)

5.46969696969697

In [177]:
mean_no2_assam = df.loc[df['state']=='Assam', 'no2'].mean()
print(mean_no2_assam)

14.793691007156418

In [46]:
mean_no2_bihar = df.loc[df['state']=='Bihar', 'no2'].mean()
print(mean_no2_bihar)

36.57552511415525

In [47]:
mean_no2_chandigarh = df.loc[df['state']=='Chandigarh', 'no2'].mean()
print(mean_no2_chandigarh)

18.619404165568273

In [48]:
mean_no2_chattisgarh = df.loc[df['state']=='Chattisgarh', 'no2'].mean()
print(mean_no2_chattisgarh)

nan

In [49]:
mean_no2_dadra = df.loc[df['state']=='Dadra & Nagar Haveli', 'no2'].mean()
print(mean_no2_dadra)

18.293958664546892

In [50]:
mean_no2_daman = df.loc[df['state']=='Daman & Diu', 'no2'].mean()
print(mean_no2_daman)

16.168925831202053

In [6]:
stateVsNo2 = pd.DataFrame({'State' : pd.Series(dtype = 'str'), 'Mean NO2' : pd.Series(dtype = 'float')})
for i in df.state.unique():
        no2 = df.loc[df['state']== i , 'no2'].mean()        
        stateVsNo2.loc[len(stateVsNo2)] = [i, no2] 
display(stateVsNo2)

                          State   Mean NO2
0                Andhra Pradesh  21.704451
1             Arunachal Pradesh   5.469697
2                         Assam  14.793691
3                         Bihar  36.575525
4                    Chandigarh  18.619404
5                  Chhattisgarh  24.815961
6          Dadra & Nagar Haveli  18.293959
7                   Daman & Diu  16.168926
8                         Delhi  53.489147
9                           Goa  12.506337
10                      Gujarat  24.065631
11                      Haryana  23.428311
12             Himachal Pradesh  13.658688
13              Jammu & Kashmir  12.213181
14                    Jharkhand  43.366341
15                    Karnataka  22.702837
16                       Kerala  14.421889
17               Madhya Pradesh  18.639596
18                  Maharashtra  32.115370
19                      Manipur  20.173684
20                    Meghalaya  10.659706
21                      Mizoram   6.682171
22                     Nagaland   8.947265
23                       Odisha  16.899568
24                   Puducherry  15.279496
25                       Punjab  28.085846
26                    Rajasthan  30.441008
27                       Sikkim  26.800000
28                   Tamil Nadu  21.601202
29                    Telangana  23.864005
30                Uttar Pradesh  27.610095
31                  Uttarakhand  26.938090
32                  Uttaranchal  27.163019
33                  West Bengal  59.075731
34  andaman-and-nicobar-islands        NaN
35                  Lakshadweep        NaN
36                      Tripura        NaN

In [7]:
writer2 = pd.ExcelWriter('stateVsNo2.xlsx') #create excel writer object. stateVsNo2 is the name of the excel sheet I'm giving
stateVsNo2.to_excel(writer2) #write dataframe to excel, the stateVsNo2 used here is the name of the table in python
writer2.save()

In [8]:
import matplotlib.pyplot as plt
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'

In [9]:
stateVsSpm = pd.DataFrame({'State' : pd.Series(dtype = 'str'), 'Mean SPM' : pd.Series(dtype = 'float')})
for i in df.state.unique():
        spm = df.loc[df['state']== i , 'spm'].mean()        
        stateVsSpm.loc[len(stateVsSpm)] = [i, spm] 
display(stateVsSpm)

                          State    Mean SPM
0                Andhra Pradesh  200.260378
1             Arunachal Pradesh         NaN
2                         Assam  153.355386
3                         Bihar  276.917416
4                    Chandigarh  206.056150
5                  Chhattisgarh  231.290969
6          Dadra & Nagar Haveli  170.545024
7                   Daman & Diu  145.681416
8                         Delhi  399.402088
9                           Goa   67.254193
10                      Gujarat  191.567930
11                      Haryana  268.264804
12             Himachal Pradesh  208.575630
13              Jammu & Kashmir  196.221053
14                    Jharkhand  277.940746
15                    Karnataka  168.001743
16                       Kerala   84.419791
17               Madhya Pradesh  210.067545
18                  Maharashtra  205.255823
19                      Manipur  158.657895
20                    Meghalaya   78.002445
21                      Mizoram   87.833333
22                     Nagaland  133.311449
23                       Odisha  167.609844
24                   Puducherry   95.598188
25                       Punjab  244.918926
26                    Rajasthan  300.735397
27                       Sikkim   75.000000
28                   Tamil Nadu  126.729064
29                    Telangana         NaN
30                Uttar Pradesh  372.663688
31                  Uttarakhand  306.758923
32                  Uttaranchal  283.335714
33                  West Bengal  233.506524
34  andaman-and-nicobar-islands         NaN
35                  Lakshadweep         NaN
36                      Tripura         NaN

In [10]:
writer3 = pd.ExcelWriter('stateVsSpm.xlsx') #create excel writer object. stateVsSpm is the name of the excel sheet I'm giving
stateVsSpm.to_excel(writer3) #write dataframe to excel, the stateVsSpm used here is the name of the table in python
writer3.save()

In [11]:
stateVsRspm = pd.DataFrame({'State' : pd.Series(dtype = 'str'), 'Mean RSPM' : pd.Series(dtype = 'float')})
for i in df.state.unique():
        rspm = df.loc[df['state']== i , 'rspm'].mean()        
        stateVsRspm.loc[len(stateVsRspm)] = [i, rspm] 
display(stateVsRspm)

                          State   Mean RSPM
0                Andhra Pradesh   78.182824
1             Arunachal Pradesh   76.629213
2                         Assam   93.724912
3                         Bihar  123.705176
4                    Chandigarh   96.587079
5                  Chhattisgarh  126.472399
6          Dadra & Nagar Haveli   76.536530
7                   Daman & Diu   73.749431
8                         Delhi  196.639771
9                           Goa   61.212766
10                      Gujarat   98.244510
11                      Haryana  149.860537
12             Himachal Pradesh   91.870202
13              Jammu & Kashmir  117.449483
14                    Jharkhand  168.517763
15                    Karnataka   79.371801
16                       Kerala   50.636064
17               Madhya Pradesh  114.717967
18                  Maharashtra  101.479608
19                      Manipur   69.815789
20                    Meghalaya   68.988442
21                      Mizoram   42.716466
22                     Nagaland   83.357027
23                       Odisha   83.619824
24                   Puducherry   43.418217
25                       Punjab  173.493711
26                    Rajasthan  142.016832
27                       Sikkim   32.000000
28                   Tamil Nadu   66.585638
29                    Telangana   85.043008
30                Uttar Pradesh  176.952308
31                  Uttarakhand  148.978906
32                  Uttaranchal  121.694340
33                  West Bengal  115.039909
34  andaman-and-nicobar-islands         NaN
35                  Lakshadweep         NaN
36                      Tripura         NaN

In [12]:
writer4 = pd.ExcelWriter('stateVsRspm.xlsx') #create excel writer object. stateVsRspm is the name of the excel sheet I'm giving
stateVsRspm.to_excel(writer4) #write dataframe to excel, the stateVsRspm used here is the name of the table in python
writer4.save()

In [56]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [13]:
Master_table = stateVsSo2.merge(stateVsNo2,on='State').merge(stateVsSpm,on='State').merge(stateVsRspm, on='State')
print(Master_table)

                          State   Mean SO2   Mean NO2    Mean SPM   Mean RSPM
0                Andhra Pradesh   7.284845  21.704451  200.260378   78.182824
1             Arunachal Pradesh   3.179104   5.469697         NaN   76.629213
2                         Assam   6.723263  14.793691  153.355386   93.724912
3                         Bihar  19.381476  36.575525  276.917416  123.705176
4                    Chandigarh   2.676986  18.619404  206.056150   96.587079
5                  Chhattisgarh  12.846609  24.815961  231.290969  126.472399
6          Dadra & Nagar Haveli   8.939587  18.293959  170.545024   76.536530
7                   Daman & Diu   8.192958  16.168926  145.681416   73.749431
8                         Delhi   8.737273  53.489147  399.402088  196.639771
9                           Goa   6.827913  12.506337   67.254193   61.212766
10                      Gujarat  16.656343  24.065631  191.567930   98.244510
11                      Haryana  14.064957  23.428311  268.264804  149.860537
12             Himachal Pradesh   2.667013  13.658688  208.575630   91.870202
13              Jammu & Kashmir   7.180521  12.213181  196.221053  117.449483
14                    Jharkhand  23.485794  43.366341  277.940746  168.517763
15                    Karnataka  10.223099  22.702837  168.001743   79.371801
16                       Kerala   5.322350  14.421889   84.419791   50.636064
17               Madhya Pradesh  11.587410  18.639596  210.067545  114.717967
18                  Maharashtra  17.366863  32.115370  205.255823  101.479608
19                      Manipur   3.900000  20.173684  158.657895   69.815789
20                    Meghalaya   8.955908  10.659706   78.002445   68.988442
21                      Mizoram   2.085009   6.682171   87.833333   42.716466
22                     Nagaland   2.059736   8.947265  133.311449   83.357027
23                       Odisha   5.275874  16.899568  167.609844   83.619824
24                   Puducherry  11.970639  15.279496   95.598188   43.418217
25                       Punjab  10.628598  28.085846  244.918926  173.493711
26                    Rajasthan   7.665725  30.441008  300.735397  142.016832
27                       Sikkim  19.800000  26.800000   75.000000   32.000000
28                   Tamil Nadu  11.315134  21.601202  126.729064   66.585638
29                    Telangana   5.418609  23.864005         NaN   85.043008
30                Uttar Pradesh  12.528500  27.610095  372.663688  176.952308
31                  Uttarakhand  24.372957  26.938090  306.758923  148.978906
32                  Uttaranchal  24.697736  27.163019  283.335714  121.694340
33                  West Bengal  12.608766  59.075731  233.506524  115.039909
34  andaman-and-nicobar-islands        NaN        NaN         NaN         NaN
35                  Lakshadweep        NaN        NaN         NaN         NaN
36                      Tripura        NaN        NaN         NaN         NaN

In [21]:
writer5 = pd.ExcelWriter('Master_table.xlsx') #create excel writer object. Master_table is the name of the excel sheet I'm giving
Master_table.to_excel(writer5) #write dataframe to excel, the Master_table used here is the name of the table in python
writer5.save()

In [18]:
Master_table.insert(0, "Country", "India")
print(Master_table) #this mutates the original dataframe and inserts the column

ValueError: cannot insert Country, already exists

In [20]:
print(Master_table)

   Country                        State   Mean SO2   Mean NO2    Mean SPM  \
0    India               Andhra Pradesh   7.284845  21.704451  200.260378
1    India            Arunachal Pradesh   3.179104   5.469697         NaN
2    India                        Assam   6.723263  14.793691  153.355386
3    India                        Bihar  19.381476  36.575525  276.917416
4    India                   Chandigarh   2.676986  18.619404  206.056150
5    India                 Chhattisgarh  12.846609  24.815961  231.290969
6    India         Dadra & Nagar Haveli   8.939587  18.293959  170.545024
7    India                  Daman & Diu   8.192958  16.168926  145.681416
8    India                        Delhi   8.737273  53.489147  399.402088
9    India                          Goa   6.827913  12.506337   67.254193
10   India                      Gujarat  16.656343  24.065631  191.567930
11   India                      Haryana  14.064957  23.428311  268.264804
12   India             Himachal Pradesh   2.667013  13.658688  208.575630
13   India              Jammu & Kashmir   7.180521  12.213181  196.221053
14   India                    Jharkhand  23.485794  43.366341  277.940746
15   India                    Karnataka  10.223099  22.702837  168.001743
16   India                       Kerala   5.322350  14.421889   84.419791
17   India               Madhya Pradesh  11.587410  18.639596  210.067545
18   India                  Maharashtra  17.366863  32.115370  205.255823
19   India                      Manipur   3.900000  20.173684  158.657895
20   India                    Meghalaya   8.955908  10.659706   78.002445
21   India                      Mizoram   2.085009   6.682171   87.833333
22   India                     Nagaland   2.059736   8.947265  133.311449
23   India                       Odisha   5.275874  16.899568  167.609844
24   India                   Puducherry  11.970639  15.279496   95.598188
25   India                       Punjab  10.628598  28.085846  244.918926
26   India                    Rajasthan   7.665725  30.441008  300.735397
27   India                       Sikkim  19.800000  26.800000   75.000000
28   India                   Tamil Nadu  11.315134  21.601202  126.729064
29   India                    Telangana   5.418609  23.864005         NaN
30   India                Uttar Pradesh  12.528500  27.610095  372.663688
31   India                  Uttarakhand  24.372957  26.938090  306.758923
32   India                  Uttaranchal  24.697736  27.163019  283.335714
33   India                  West Bengal  12.608766  59.075731  233.506524
34   India  andaman-and-nicobar-islands        NaN        NaN         NaN
35   India                  Lakshadweep        NaN        NaN         NaN
36   India                      Tripura        NaN        NaN         NaN

     Mean RSPM
0    78.182824
1    76.629213
2    93.724912
3   123.705176
4    96.587079
5   126.472399
6    76.536530
7    73.749431
8   196.639771
9    61.212766
10   98.244510
11  149.860537
12   91.870202
13  117.449483
14  168.517763
15   79.371801
16   50.636064
17  114.717967
18  101.479608
19   69.815789
20   68.988442
21   42.716466
22   83.357027
23   83.619824
24   43.418217
25  173.493711
26  142.016832
27   32.000000
28   66.585638
29   85.043008
30  176.952308
31  148.978906
32  121.694340
33  115.039909
34         NaN
35         NaN
36         NaN